mat-grid-list {
    &:hover {
        border: 2px solid darken(rgb(250, 213, 190), 10%);
    }
}

mat-grid-tile {
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Lobster', monospace;

    @media (min-width: 1024px) {
        font-size: 30px;
    }

    a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        span {
            text-align: center;
            width: 80%;
        }

        &:hover {
            text-decoration: underline;
        }
    }   
}
mat-grid-tile:nth-of-type(odd) {

    a {
        background: #e5c3ae;
        color: #f2ffff;

        &:hover {
            background: #f2ffff;   
            color: darken(#e5c3ae, 10%);
        }
    }
}
mat-grid-tile:nth-of-type(even) {
    a {
        background: #f2ffff;
        color: #e5c3ae;

        &:hover {
            background: darken(#e5c3ae, 10%);   
            color: #f2ffff;
        }
    }
}